.root {
    -fx-background-color: #272727;
    -fx-padding: 5px;
}

Button {
    -fx-background-color: #32d7e1;
    -fx-background-radius: 50;
}

Button:pressed {
    -fx-background-color: #31c1cb;
}

Button:hover {
    -fx-background-color: #34f5ff;
}

TextField {
    -fx-background-color: #393939;
    -fx-text-fill: ghostwhite;
}
AnchorPane{
    -fx-background-color: #272727;
}

.color-white{
    -fx-fill: ghostwhite;
    -fx-text-fill: ghostwhite;
}

.bg-transparent{
    -fx-background-color: transparent;
}