AnchorPane{
    -fx-background-color: #272727;
}
Button {
    -fx-background-color: #32d7e1;
    -fx-background-radius: 50;
}

Button:pressed {
    -fx-background-color: #31c1cb;
}

Button:hover {
    -fx-background-color: #34f5ff;
}

/*#close-button{*/
/*    -fx-background-color: red;*/
/*}*/